body {
    background-color: #EEEEEE;
}

input[type=text] {
    display: block;
    padding: 1% 2%;
    border-radius: 1px;
    margin: 1% 0;
    width: 96%;
}

input[type=submit] {
    display: inline;
    padding: 1% 2%;
    border-radius: 1px;
    width: 49%;
}

#content {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
}

#buttons {
    width: 102%;
    height: 10%;
}
